.ShoppingCart {
    border: 2px solid black;
    width: 400px;
    margin: 20px;
}

.ShoppingCart-header {
    text-align: center;
}

.ShoppingCart-total {
    margin-left: 5px;
    font-size: 2rem;
}
